{% load static %}
<html>
<h1>Sigue Línea con Fórmula 1 en Python</h1>
<p>En esta práctica tendrás que programar un fórmula 1 simulado para que siga la línea de un circuito utilizando las imágenes de su cámara.</p>
<p>Hacieno uso del API de la cámara tendrás que hacer girar el Fórmula 1 para que corrija la dirección y conseguir que complete el circuito. ¿Puedes hacerlo?</p>
<table align="right">
    <tr>
        <td>Tiempo de estudio</td>
        <td>Dificultad</td>
    </tr>
        <td>3 horas</td>
        <td><img src="{% static 'python/PSFo1017/img/dificultad_media.png' %}" width=100px></td>
 </table>
 <!--Json with Confetis'  array possition x & z-->
<script type="text/javascript" src="{% static 'python/PSPib051/js/data.json' %}"></script>

<script type="text/javascript" src="{% static 'python/PSPib051/js/roomba_confeti_evaluator.js' %}"></script>

 </html>
