<!doctype html>
{% load static %}
<html>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title>siguelinea_f1_python_vision_teoria</title></head>
<body><h1 style="text-align: center;">Sigue Línea Fórmula 1 con Visión Artificial</h1>
<p>Para completar este ejercicio, deberás conseguir que el Fórmula 1 siga la línea blanca de la carretera a través de su sensor de visión, es decir, empleando las imágenes que éste recoge con su cámara.</p>
<p style="text-align: center;"><img src="{% static 'python/PSFo1017/img/thumbnail.png' %}" width=200px></p>
<h2>1 - Qué vas a aprender en esta unidad</h2>
<p>En esta unidad vas a trabajar con visión artificial, concretamente vas a usar la cámara del robot de fórmula uno simulado para detectar la línea blanca que queremos seguir.</p>
<p>También aprenderás cómo se representa una imagen digital en el ordenador y qué es el espacio de color RGB</p>

<h2>2 - Requisitos de la práctica.</h2>
<p>Se pide que implementes un algoritmo, en el área indicada, que permita al robot Fórmula 1 seguir la trayectoria marcada por la línea blanca de la carretera de forma autónoma, utilizando los bloques de código disponibles en el área de trabajo. </p>
<p>&nbsp;</p>

<p>Pero...¿Cómo podemos detectar una línea en una imagen?</p>
<p>La manera más sencilla es utilizar una de las propiedades más importante de las imágenes RGB, el color. Detectaremos la línea blanca filtrando este color en las imágenes, de tal manera que el blanco sea el único color que "ve el robot". De esta manera, nos será mucho más sencillo seguir la línea, sin otros elementos que interfieran en la tarea.
    <p style="text-align: center;"><img src="{% static 'python/PSFo1017/img/camara_f1_siguelinea.png' %}" width=100px></p>
    <p>&nbsp;</p>

    <h2>3 - Imágenes digitales</h2>
    <p>La primera pregunta que tenemos que hacernos al empezar a trabajar con visión artificial es cómo se representa una imagen en un ordenador, o dicho de otra manera qué es una imagen digital.</p>
    <p>Para poder trabajar con imágenes lo primero que necesitamos es una manera de representar esas imágenes en un medio digital, para entendernos tenemos que encontrar la manera de transformar una imagen en una colección de números.
        Para ello lo que hacemos es "cuadricular" la imagen:  dividirla en un número determinado de cuadritos. Cada uno de esos cuadritos es lo que llamaremos <b>píxel</b>. Cuantos más píxeles tenga nuestra imagen más parecida será a una imagen no digital.
    </p>
    <div align="center">
        <video width=400px src="{% static 'python/PSFo1017/img/pixeles.mp4'%}" controls> Tu navegador no es capaz de reproducir este vídeo.
        </video>
        </div>
    <p>Cada uno de estos píxeles tendrá un color, por lo tanto también tenemos que "inventar" una manera de codificar esos colores, es decir, de asignar a cada color un número. Nuestra primera idea podría ser justo esa, a cada color le damos un número diferente, como en los pasatiempos de pintar por colores. Por ejemplo un 1 para el rojo, un 2 para el amarillo, un 3 para el verde... El problema con esta codificación tan sencilla es que si queremos representar una amplia gama de colores necesitamos un número para cada color y una tabla enorme para determinar a qué número corresponde ese color determinado. Otro problema, no menor, es saber exactamente cuál es el color. Este problema se resuelve con la codificación RGB.</p>
<h3>RGB</h3>
<p>Las imágenes RGB representan cada color mediante la combinación de los tres colores primarios rojo (Red), verde (Green) 
    y azul (Blue). De esta manera cada pixel tendrá asociado 3 números, uno para cada uno de los colores primarios. Por eso se dice que es un modelo
    de color aditivo, porque cada colorse representa por la suma de los tres colores de luz primarios </p>
    <p style="text-align: center;"><img src="{% static 'python/PSFo1017/img/RGB.jpg' %}" width=200px></p>
    <p>&nbsp;</p>
 <p>Un inconveniente importante del modelo RGB es que no detalla a qué color considera rojo, verde o azul. Por eso el mismo número RGB puede
     mostrar colores notablemente diferentes dependiendo del modelo de color del dispositivo. </p>
     <h4>¿Cómo usamos el RGB?</h4>
     <p>Para determinar (en un ordenador) un color en RGB simplemente tenemos que dar 3 números entre 0 y 255. Por ejemplo (255,0,0) de esta manera lo que estamos diciendo es
         que nuestro pixel tiene un color que es la suma del máximo componente de rojo y sin componentes de verde o azul. La ausencia de los tres componentes nos daría el color negro, que se representaría como
         (0,0,0). Por el contrario el color blanco será la suma de los máximos componentes de todos los colores primarios es decir
         (255,255,255)
     </p> 
     <p style="text-align: center;"><img src="{% static 'python/PSFo1017/img/colores_RGB.png' %}" width=400px></p>
     <p>&nbsp;</p>
    <h2>4 - Pistas para programar este ejercicio</h2>
    <p>Aquí tenéis algunos consejos para empezar a programar este ejercicio.</p>
    <h3>Inicialización</h3>
<p>Para empezar a programar tu robot, primero debes importar el módulo de acceso a la capa <i>hardware</i> del mismo. Incluye este bloque de código en tu editor:</p>
<div style="background:#dad9d6;margin: 0px 100px 0px 0px;padding:5px;border:1px solid black;"><code><span style="color:purple;">import</span> HAL<br><span style="color:#042f6f;">#introduce aqui el codigo de tu robot</span></code></div>
<p>Recuerda que tu código se puede ejecutar de manera secuencial (instrucciones que sólo se ejecutan una vez), o de forma iterativa (código que se ejecuta en bucle). A continuación tienes un ejemplo que cómo se utilizan instrucciones de cada tipo:</p>
<div style="background:#dad9d6;margin: 0px 100px 0px 0px;padding:5px;border:1px solid black;"><code><span style="color:purple;">import</span> HAL<br><span style="color:#042f6f;">#ESTAS SON INSTRUCCIONES SECUENCIALES</span><br>HAL.<span style="color:#74a5ee;">avanzar_hasta</span>(<span style="color:#f8ff17;">3</span>) <span style="color:#042f6f;"># el robot avanza 3 metros y se detiene</span><br><br><strong>while</strong> (<span style="color:red;">True</span>):<br><span style="color:#042f6f;"><pre>    # ESTO SON INSTRUCCIONES ITERATIVAS</span><br>    HAL.<span style="color:#74a5ee;">girar_derecha_hasta</span>(<span style="color:#f8ff17;">10</span>) <span style="color:#042f6f;"># el robot gira 10 grados a la derecha en cada iteración, nunca se para</span></pre></code></div>
<p>&nbsp;</p>
<h3>API de Sensores y Actuadores del Robot</h3>
<p>Las funciones y métodos que puedes utilizar para obtener información del robot y enviarle órdenes para resolver la práctica son las siguientes:</p>
<h4>Sensores</h4>
<p>Como decíamos al principio con este ejercicio vamos a aprender a usar la cámara para lograr que nuestro fórmula 1 simulado siga una línea blanca.
Necesitarás usar las funciones de la cámara, en concreto aquella que te permite obtener la coordenada deseada de un objeto de un color determinado. Piensa bien qué color quieres detectar
y también la o las coordenadas que vas a necesitar para "conducir" el fórmula 1 siguiendo la línea blanca. Aquí tienes algunas
de las funciones que tal vez te puedan ser útiles.
</p>
<ul>
<li><p><code>dame_objeto_de_color(posicion, color)</code>: Esta función te permite obtener la coordenada que quieras ('X', 'Y', 'Z', 'YAW') de la posición del elemento del color que especifiques. Uitliza la cámara del robot y un filtro de color para averigurar la posición del objeto en la imagen.</p>
</li>
<li><p><code>get_us()</code>: Esta método te permite acceder al sensor de ultrasonidos (US) del robot. Utilízalo para obtener un valor de distancia al objeto más cercano, si lo hay.</p>
</li>
<li><p><code>get_position_value(posicion)</code>: Esta función te permite averiguar la posición del robot. Indica la coordenada que quieras obtener ('POSX', 'POSY', 'POSZ', 'POSYAW').</p>
</li>
</ul>
<h4>Actuadores</h4>
<p>Una vez sepas hacia donde tiene que moverse tu fórmula 1 para seguir la línea blanca necesitarás enviarle las instrucciones
    coorectas para que lo haga. Podrás usar los comandos que envían distancias o giros o los que indican velocidades.
</p>
<ul>
<li><p><code>avanzar_hasta(distancia)</code>: Para avanzar una distancia concreta (m).</p>
</li>
<li><p><code>girar_derecha_hasta(angulo):</code>: Para girar a la derecha un ángulo concreto (grados).</p>
</li>
<li><p><code>girar_izquierda_hasta(angulo)</code>: Para girar a la izquierda un ángulo concreto (grados).</p>
</li>
<li><p><code>set_v(velocidad)</code>: Indica la velocidad lineal (de avance) del robot (m/s).</p>
</li>
<li><p><code>set_w(velocidad)</code>: Indica la velocidad angular (de giro) del robot (grados/s).</p>
</li>
</ul>
<h2>5 - Recopilando</h2>
<p>Este ejercicio no es un reto sencillo así que resolviéndolo habrás aprendido muchas cosas:
    <ol>
        <li>Habrás aprendido cómo se representan imágenes digitales y lo que es un <b>píxel</b>.</li>
        <li>Habrás aprendido también cómo se representan los colores usando RGB.</li>
        <li>Habrás usado la instrucción de Kibotics para obtener la posición de un objeto de un color en la imagen.</li>
        <li>Habrás realizado un control sobre el robot para que vaya ajustando su velocidad y/o giro en función de 
            la posición de la línea blanca en su cámara frontal.
        </li>
    </ol>
</p>
<h2>6 - ¿Sabías que...?</h2>
<p>El modelo RGB no es el único empleado para representar el color. Existen otras posibilidades. Una de ellas es el modelo llamado CMYK (Cyan, Magenta, Yellow, blacK)</p>
<p>El modelo CMYK es un modelo <b>substractivo</b>  porque cada color se construye como
    la cantidad de los otros colores que hay que restarle al blanco para que quede el color deseado. Recordad que RGB es un modelo aditivo porque cada color se construye como
    la suma de los colores primarios rojo, verde y azul.</p>
<p style="text-align: center;"><img src="{% static 'python/PSFo1017/img/CMYK.png' %}" width=200px></p>
     <p>&nbsp;</p>
     <p>Es un modelo muy apropiado
        para la impresión sobre un papel blanco. El color que queda es la resta de los colores de las tintas sobre el blanco del lienzo.
        A diferencia el RGB si ahora sumamos los 3 colores básicos (que en este modelo son el cian, magenta y amarillo) lo que obtenemos es
        color negro.</p>
     <p style="text-align: center;"><img src="{% static 'python/PSFo1017/img/colores_CMYK.png' %}" width=400px></p>
     <p>&nbsp;</p>

</body>
</html>
